@charset "UTF-8";
/* Sass 檔案說明
 _base 通用設定
 _font 字體設定
 _main 主模板設定
 _variable 變數設定
 _minix 集合設定
 _account 會員相關
 _ticket 票卷相關 */
/*
 框架使用說明：
 很多看似多餘的class是為了Flexbox才做的設定
 主模板 App.js - 上導覽(.superNav)+左導覽(.subNav)
 .main - 主模板內，除了上導覽以外的區域
 .content - 主模板內切換頁面的容器
 副頁面
 .xxx-box - 副頁面容器(整個包住)
 .xxx-box-title - 副頁面容器標題＆hr
 .container - 帶有框陰影的容器(不含 副頁面容器標題＆hr)*/
@font-face {
  font-family: "NotoSansCJKtc-Black";
  src: url("./font/NotoSansCJKtc-Black.otf");
}

@font-face {
  font-family: "NotoSansCJKtc-Bold";
  src: url("./font/NotoSansCJKtc-Bold.otf");
}

@font-face {
  font-family: "NotoSansCJKtc-DemiLight";
  src: url("./font/NotoSansCJKtc-DemiLight.otf");
}

@font-face {
  font-family: "NotoSansCJKtc-Light";
  src: url("./font/NotoSansCJKtc-Light.otf");
}

@font-face {
  font-family: "NotoSansCJKtc-Medium";
  src: url("./font/NotoSansCJKtc-Medium.otf");
}

@font-face {
  font-family: "NotoSansCJKtc-Regular";
  src: url("./font/NotoSansCJKtc-Regular.otf");
}

@font-face {
  font-family: "NotoSansCJKtc-Thin";
  src: url("./font/NotoSansCJKtc-Thin.otf");
}

@font-face {
  font-family: "NotoSansMonoCJKtc-Bold";
  src: url("./font/NotoSansMonoCJKtc-Bold.otf");
}

@font-face {
  font-family: "NotoSansMonoCJKtc-Regular";
  src: url("./font/NotoSansMonoCJKtc-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #a5a5a5;
}

a:active {
  color: #ffa83d;
}

a:visited {
  color: #a5a5a5;
}

input {
  outline-color: #ffb559;
  height: 56px;
  border-radius: 8px;
  border: solid 2px #bdbdbd;
  background-color: #fff;
  font-size: 1.15rem;
  padding-left: 15px;
}

button {
  cursor: pointer;
}

nav.superNav {
  width: 100vw;
  height: 72px;
  background-color: #ffa83d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.superNav ul {
  width: 100vw;
  margin-left: 25px;
}

nav.superNav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  list-style: none;
  display: inline;
  margin-left: 0px;
  margin-right: 15px;
}

nav.superNav ul li img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

nav.superNav .navLogoTxt {
  font-size: 24px;
  font-weight: bold;
}

nav.superNav .navLogoTxt a {
  text-decoration: none;
}

nav.superNav .navLogoTxt a:visited {
  color: white;
}

nav.superNav .navBtnGroup {
  width: 30vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 24px;
}

nav.superNav .navBtnGroup .btn-login {
  width: 100px;
  height: 40px;
  border-radius: 100px;
  border: solid 2px #ffffff;
  background-color: #ffa83d;
  color: white;
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1rem;
}

nav.superNav .navBtnGroup .btn-signin {
  width: 100px;
  height: 40px;
  margin-left: 16px;
  margin-right: 40px;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
  color: #ffa83d;
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
}

nav.subNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 265px;
  height: 100vmax;
  padding-top: 20px;
  color: #a5a5a5;
  background-color: #fff;
}

nav.subNav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: 18px;
  padding: 10px;
}

nav.subNav li img {
  margin-right: 18px;
  width: 24px;
  height: 24px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1608px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.errorMsg {
  color: #ff3737;
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1.1rem;
}

.Not-found {
  -webkit-text-stroke: 5px #ffb559;
  color: rgba(0, 0, 0, 0);
  font-family: "NotoSansCJKtc-Bold";
  font-size: 10rem;
}

.lil-not-found {
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1.8rem;
  color: #ffb559;
}

#copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  color: #a5a5a5;
  font-size: 1rem;
  font-family: "NotoSansCJKtc-Medium";
}

.account-box {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 22px;
  color: black;
}

.account-box-title hr {
  margin-top: 20px;
  border: 1.2px solid #e0e0e0;
  width: 1608px;
}

.index-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45vw;
  height: 101%;
  background-color: rgba(255, 168, 61, 0.15);
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth .auth-title {
  font-family: "NotoSansCJKtc-Bold";
  font-size: 24px;
  color: #000000;
}

.auth .tips {
  font-family: "NotoSansCJKtc-Medium";
  font-size: 14px;
  font-weight: 500px;
  color: #a5a5a5;
}

.auth .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  height: 90%;
}

.auth .auth-form .auth-label {
  font-size: 1rem;
  font-family: "NotoSansCJKtc-Bold";
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 550px;
}

.auth .auth-form .notice {
  height: 22px;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 14px;
  margin: 15px;
}

.auth .auth-form .link {
  font-family: "NotoSansCJKTC-Bold";
  font-size: 14px;
  color: #ffb559;
  text-decoration: none;
  margin-top: 20px;
}

.auth .auth-form #no-color {
  font-family: "NotoSansCJKTC-Medium";
  font-size: 14px;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.auth .auth-form .auth-submit {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  background-color: #ffa83d;
  color: #FFF;
  font-size: 1.2rem;
  font-family: "NotoSansCJKtc-Bold";
  -webkit-box-shadow: 0 0 0 4px rgba(255, 168, 61, 0.2);
          box-shadow: 0 0 0 4px rgba(255, 168, 61, 0.2);
}

.edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.edit-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

.edit-form .input-group .input-label {
  font-size: 1rem;
  font-family: "NotoSansCJKtc-Bold";
  color: #000000;
  margin-bottom: 10px;
}

.edit-form .input-group input {
  width: 1561px;
}

.edit-form .form-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.edit-form .form-btn-group .form-save {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  background-color: #ffa83d;
  color: #FFF;
  font-size: 1.2rem;
  font-family: "NotoSansCJKtc-Bold";
  width: 138px;
}

.ticket-box {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 22px;
  color: black;
}

.ticket-box-title hr {
  margin-top: 20px;
  border: 1.2px solid #e0e0e0;
  width: 1608px;
}

.management-row-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.management-row-box .row-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 80px;
  margin-bottom: 10px;
}

.management-row-box .row-box-title h6 {
  font-family: "NotoSansCJKtc-Regular";
  font-size: 0.9rem;
  color: #a5a5a5;
  width: 25%;
}

.management-row-box .row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1608px;
  height: 64px;
  border-radius: 8px;
  border: solid 2px #bdbdbd;
  background-color: #fff;
  margin-bottom: 25px;
}

.management-row-box .row-container:hover {
  border: solid 2px #ffb559;
}

.management-row-box .row-container .row-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
}

.management-row-box .row-container .row-text {
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  width: 25%;
}

.management-row-box .row-container .row-number {
  font-family: "NotoSansCJKtc-Bold";
  color: #ffb559;
  font-size: 1rem;
  width: 3%;
  margin-left: 30px;
}

.management-row-box .row-container .success {
  color: #4ca46f;
  font-family: "NotoSansCJKtc-Bold";
  font-weight: 0;
}

.management-row-box .row-container .fail {
  color: #ff3737;
  font-family: "NotoSansCJKtc-Bold";
  font-weight: 0;
}

.management-row-box .row-container .row-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin-left: 80px;
}

.ticket-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.ticket-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

.ticket-form .input-group .input-label {
  font-size: 1rem;
  font-family: "NotoSansCJKtc-Bold";
  color: #aeaeae;
  margin-bottom: 10px;
}

.ticket-form .input-group input {
  width: 1561px;
}

.ticket-form .form-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.ticket-form .form-btn-group .form-save {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  background-color: #ffa83d;
  color: #FFF;
  font-size: 1.2rem;
  font-family: "NotoSansCJKtc-Bold";
  width: 138px;
}

.member-row-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.member-row-box .row-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 80px;
  margin-bottom: 10px;
}

.member-row-box .row-box-title h6 {
  font-family: "NotoSansCJKtc-Regular";
  font-size: 0.9rem;
  color: #a5a5a5;
  width: 16.66667%;
}

.member-row-box .row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1608px;
  height: 64px;
  border-radius: 8px;
  border: solid 2px #bdbdbd;
  background-color: #fff;
  margin-bottom: 25px;
}

.member-row-box .row-container:hover {
  border: solid 2px #ffb559;
}

.member-row-box .row-container .row-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
}

.member-row-box .row-container .row-text {
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  width: 16.66667%;
}

.member-row-box .row-container .row-number {
  font-family: "NotoSansCJKtc-Bold";
  color: #ffb559;
  font-size: 1rem;
  width: 3%;
  margin-left: 30px;
}

.member-row-box .row-container .success {
  color: #ffb559;
  font-family: "NotoSansCJKtc-Bold";
  font-weight: 0;
}

.member-row-box .row-container .fail {
  color: #a5a5a5;
  font-family: "NotoSansCJKtc-Bold";
  font-weight: 0;
}

.member-row-box .row-container .row-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin-left: 80px;
}

.member-row-box .check {
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 8px;
  background-color: rgba(165, 165, 165, 0.3);
  cursor: pointer;
}

.member-row-box .check:checked {
  background-color: rgba(255, 168, 61, 0.3);
}

.member-row-box .check:hover {
  border: 2.5px solid #a5a5a5;
}

.member-row-box .delete {
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 55, 55, 0.3);
}

.member-row-box .delete:hover {
  border: 2.5px solid #ff3737;
}

.activity-box {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 22px;
  color: black;
}

.activity-box-title hr {
  margin-top: 20px;
  border: 1.2px solid #e0e0e0;
  width: 1608px;
}

.one-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-top: 30px;
}

.one-page .one-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.one-page .one-page-content .act-name {
  font-family: "NotoSansCJKtc-Regular";
  font-size: 2.2rem;
  color: #000000;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}

.one-page .one-page-content .act-info {
  font-family: "NotoSansCJKtc-Regular";
  color: #a5a5a5;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 10px;
}

.one-page .one-page-content .act-info div {
  margin-left: 10px;
}

.one-page .one-page-content .act-info div img {
  width: 1rem;
  height: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.one-page .one-page-content .act-img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.one-page .one-page-content .act-img-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 335px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 14px;
  border: solid 2px #bdbdbd;
  color: #ffb559;
  font-size: 1.2rem;
  font-family: "NotoSansCJKtc-Medium";
  cursor: pointer;
}

.one-page .one-page-content .act-img-add:hover {
  border: solid 2px #ffb559;
}

.one-page .one-page-content .act-img-add img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.one-page .one-page-content .act-description {
  width: 100%;
  min-height: 450px;
  border-radius: 14px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  font-family: "NotoSansCJKtc-Regular";
  color: #000000;
  font-size: 1rem;
  padding: 25px;
  margin-bottom: 20px;
}

.one-page .one-page-content .act-description .title {
  color: #ffb559;
  height: 20px;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 15px;
}

.one-page .one-page-content .act-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-radius: 14px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.one-page .one-page-content .act-show .title {
  color: #ffb559;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-left: 10px;
}

.one-page .one-page-content .act-show ul, .one-page .one-page-content .act-show li {
  list-style: none;
  padding: 0;
}

.one-page .one-page-content .act-show li {
  padding-bottom: 3rem;
  border-left: 3px solid #ffb559;
  position: relative;
  padding-left: 30px;
  margin-left: 20px;
}

.one-page .one-page-content .act-show li:last-child {
  border: 0px;
  left: 2px;
}

.one-page .one-page-content .act-show li:before {
  content: '';
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid #ffb559;
  background-color: #ffb559;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  top: 0px;
}

.one-page .one-page-content .act-show .time {
  color: #2a2839;
  font-family: "NotoSansCJKtc-Bold";
  font-size: 1.15rem;
  line-height: 1;
}

.one-page .one-page-content .act-show font {
  color: #a5a5a5;
  font-family: "NotoSansCJKtc-Medium";
  font-size: 0.9rem;
  margin-left: 10px;
}

.one-page .one-page-content .save-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #ffa83d;
  background-color: #fff;
  color: #ffb559;
  font-family: "NotoSansCJKtc-Medium";
  font-size: 1.1rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=saltar.css.map */