.account-box
    +box
.account-box-title
    +title

.index-img
    display: flex
    justify-content: center
    align-items: center
    width: 45vw
    height: 100vmax
    background-color: rgba(255, 168, 61, 0.15)

// Signin.js & Login.js
.auth
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 55vw
    height: fit-content
    margin-top: 10px
    margin-bottom: 10px
    .auth-title
        font-family: "NotoSansCJKtc-Bold"
        font-size: 24px
        color: $text-black
    .tips
        font-family: "NotoSansCJKtc-Medium"
        font-size: 14px
        font-weight: 500px
        color: $text-gray
    .auth-form
        display: flex
        flex-direction: column
        width: 55%
        height: 90%
        .auth-label
            +label-text
            color: $text-black
            margin-top: 10px
            margin-bottom: 10px
            width: 550px
        .notice
            height: 22px
            font-family: "NotoSansCJKtc-Bold"
            font-size: 14px
            margin: 15px
        .link
            font-family: "NotoSansCJKTC-Bold"
            font-size: 14px
            color: $text-orange
            text-decoration: none
            margin-top: 20px
        #no-color
            font-family: "NotoSansCJKTC-Medium"
            font-size: 14px
            color: $text-black
            text-align: center
            margin-top: 20px
        .auth-submit
            +btn-submit
            box-shadow: 0 0 0 4px rgba(255, 168, 61, 0.2)

// edit.js
.edit-form
    +in-container-form(($text-black))
