.activity-box
    +box
.activity-box-title
    +title

// show.js

.show
    border-radius: 12px
    display: flex
    flex-direction: column
    justify-content: start
    align-items: start
    .show-title
        color: $text-orange
        font-family: "NotoSansCJKtc-Bold"
        font-size: 1.4rem
        margin-bottom: 20px
        margin-left: 10px
    ul, li
        list-style: none
        padding: 0
    li
        padding-bottom: 3rem
        border-left: 3px solid $text-orange
        position: relative
        padding-left: 30px
        margin-left: 20px
        &:last-child
            border: 0px
            left: 2px
        &:before
            content: ''
            width: 18px
            height: 18px
            background: white
            border: 1px solid $text-orange
            background-color: $text-orange
            border-radius: 50%
            position: absolute
            left: -11px
            top: 0px

        .time
            color: #2a2839
            font-family: "NotoSansCJKtc-Bold"
            font-size: 1.15rem
            line-height: 1
        font
            color: $text-gray
            font-family: "NotoSansCJKtc-Medium"
            font-size: 0.9rem
            margin-left: 10px
