.ticket-box
    +box

.ticket-box-title
    +title

.btn-group
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%
    padding-right: 30px
    .scanner-btn
        width: 3%
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba(0,0,0,0)
        border: none
        img
            width: 100%
            height: 100%
.scanner-box
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    .scanner
        width: 20%
        @media (max-width: 768px)
            width: 100%

// Management.js
.management-row-box
    +row-box(3, $text-green, $text-red)
    .ticket-btn
        width: 45px
        height: 45px
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba(0,0,0,0)
        border: none

// TicketType.js
.ticket-form
    +in-container-form(#aeaeae)

// MemberList.js
.member-row-box
    +row-box(4, $text-orange, $text-gray)
    .check
        width: 45px
        height: 40px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        border: none
        border-radius: 8px
        background-color: rgba(165, 165, 165, 0.3)
        cursor: pointer
        &:checked
            background-color: rgba(255, 168, 61, 0.3)
        &:hover
            border: 2.5px solid rgba(165, 165, 165, 1)

    .delete
        width: 45px
        height: 40px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        border: none
        border-radius: 8px
        background-color: rgba(255, 55, 55, 0.3)
        &:hover
            border: 2.5px solid rgba(255, 55, 55, 1)

.infomation
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100vw
    min-height: 100vh
    .title
        width: 40%
        display: flex
        justify-content: flex-start
        align-items: center
        font-size: 2rem
        font-family: "NotoSansCJKtc-Regular"
        text-align: left
        margin-top: 20px
        margin-bottom: 20px
        @media (max-width: 768px)
            width: 100%
            justify-content: center
        img
            width: 50px
            height: 40px
            margin-right: 10px
    .ticket-type
        color: $text-green
        font-size: 1.4rem
        margin-left: 10px
    .container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        width: 40%
        height: fit-content
        background-color: $text-white
        margin-bottom: 15px
        @media (max-width: 768px)
            width: 90%
        .ticket-name
            width: 100%
            height: 60px
            .act-name
                font-family: "NotoSansCJKtc-Bold"
                font-size: 1.5rem
                margin-bottom: 5px
            .group-name
                font-size: 1.1rem
                color: $text-gray
                line-height: normal
                height: 20px
                img
                    width: 20px
                    height: 20px
                    margin-right: 10px
        .buy-form
            +in-container-form($text-black)
            margin-top: 40px
            hr
                border: 1.2px solid #e0e0e0
                width: 100%
            .notice
                font-size: .9rem
                color: $text-gray
                font-family: "NotoSansCJKtc-Regular"
            .total-price
                width: 100%
                margin-top: 15px
                font-size: 1.1rem
                font-family: "NotoSansCJKtc-Medium"
                p
                    font-size: 1.7rem
                    color: $text-green
                    font-family: "NotoSansCJKtc-Bold"
            .buy-btn
                width: 100%
                height: 50px
                border: none
                border-radius: 8px
                background-color: #ffa83d
                margin-top: 20px
                margin-bottom: 30px
                color: $text-white
                font-size: 1.2rem
                font-family: "NotoSansCJKtc-Medium"

    .ticket-head
        width: 40%
        height: 8%
        display: flex
        justify-content: flex-start
        align-items: center
        background-color: $text-white
        border-radius: 14px
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25)
        padding-left: 25px
        font-size: 1.4rem
        font-family: "NotoSansCJKtc-Medium"
        margin-bottom: 20px
        padding-left: 20px
        padding-right: 20px
        padding-top: 30px
        padding-bottom: 30px
        @media (max-width: 768px)
            width: 90%
            // flex-direction: column
            justify-content: center

    .ticket-qrcode
        width: 40%
        height: 50%
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        border-radius: 14px
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25)
        background-color: #fff
        padding-top: 20px
        padding-bottom: 40px
        @media (max-width: 768px)
            width: 90%
        p
            display: flex
            justify-content: flex-start
            align-items: flex-start
            width: 100%
            font-size: 1.4rem
            font-family: "NotoSansCJKtc-Medium"
            img
                margin-left: 20px
                margin-right: 10px
        .qrcode
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            width: 100%
            height: 100%
            font-size: 1.2rem
            color: $text-green
            font-family: "NotoSansCJKtc-Medium"
            img
                width: 40%
                height: 80%
                @media (max-width: 768px)
                    width: 100%
    .ticket-detail
        width: 40%
        height: 35%
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25)
        background-color: #fff
        margin-top: 20px
        padding-top: 20px
        padding-bottom: 20px
        border-radius: 14px
        margin-bottom: 60px
        @media (max-width: 768px)
            width: 90%
        p
            display: flex
            justify-content: flex-start
            align-items: flex-start
            width: 100%
            font-size: 1.4rem
            font-family: "NotoSansCJKtc-Medium"
            margin-bottom: 15px
            img
                margin-left: 20px
                margin-right: 10px
        .detail-row
            display: flex
            justify-content: flex-start
            align-items: center
            width: 100%
            margin-top: 10px
            margin-bottom: 10px
            padding-left: 22px
            font-size: 1rem
            font-family: "NotoSansCJKtc-Regular"
        .line
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            hr
                border: 1.2px solid #e0e0e0
                background-color: #e0e0e0
                width: 94%
        .total-price
            width: 100%
            margin-top: 15px
            font-size: 1.1rem
            font-family: "NotoSansCJKtc-Medium"
            padding-left: 22px
            p
                font-size: 1.7rem
                color: $text-green
                font-family: "NotoSansCJKtc-Bold"

#success
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 20px
    p
        margin-top: 15px
        color: $text-orange
        font-size: 1.4rem
        font-family: "NotoSansCJKtc-Medium"
